$primary-background-color: #121212;
$page-margin: 150px;


.home-page-wrapper{
    min-height: calc( 100vh - 63px);
    display: flex;
    flex-direction: column;
    .search-result-paragraph{
        color:#FFA310;
        font-family: HelveticaNeue !important;
        margin-left:150px;
        font-size:2.5em;
    }

    .movies-container{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-left:140px;
        margin-right:140px;
        .phantom-element{
            width:250px;
            height:0;
            margin-left:10px;
            margin-right:10px;
        }
        .movie-container{
            display:flex;
            flex-direction: column;
            position: relative;
            background:#242424;
            height: 287px;
            width: 220px;
            margin-top:20px;
            margin-bottom:20px;
            margin-left:10px;
            margin-right:10px;
            border:white;
            border-width:1px;
            border-style:solid;
            overflow: hidden;
            .poster-heart-svg{
                width: 39px;
                height: 33px;
                position:absolute;
                top: 8px;
                right: 16px;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                cursor:pointer;
                
            }
            .poster-heart-svg:hover{
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
            .no-poster-info-paragraph{
                color:#FFA310;
                text-align: center;
                margin: auto;
                font-family: HelveticaNeue;
            }
            .movie-name{
                height:70px;
                width:100%;
                position:absolute;
                bottom:0px;
                color:white;
                text-align: center;
                background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
                vertical-align: middle;
                line-height: 70px;
                font-family: HelveticaNeue !important;
                font-size:0.9em;

                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
            .movie-name:hover{
                visibility: visible;
            }
        }
        .movie-container-dimensions{
            height: 287px;
            width: 220px;
        }

        .movie-container:hover .movie-name{
            color:#FFA310;
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        .movie-container:hover .poster-img{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        .poster-img {
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

    }
    .paginator-wrapper{
        margin-top: auto;
    }
}

@media only screen and (max-width: 1732px) {
    .movie-container{
        height: 287px *1.23 !important;
        width: 220px*1.23 !important;
    }  
 
 }

 @media only screen and (max-width: 1452px) {
    .movie-container{
        height: 287px *1 !important;
        width: 220px*1 !important;
    }  
 
 }

 @media only screen and (max-width: 1249px) {
    .movie-container{
        height: 287px *1.2 !important;
        width: 220px*1.2 !important;
    }  
 }

 
 @media only screen and (max-width: 1138px) {
    .movie-container{
        height: 287px *1 !important;
        width: 220px*1 !important;
    }  
 }


 @media only screen and (max-width: 1007px) {
    .movies-container{
        margin-left: 60px !important;
        margin-right: 60px !important;
    }  
    .search-result-paragraph{
        margin-left: 60px !important;
    }
 }

 @media only screen and (max-width: 1006px) {
    .movie-container{
        height: 287px *1.2 !important;
        width: 220px*1.2 !important;
    }  
 }

 @media only screen and (max-width: 978px) {
    .movie-container{
        height: 287px *1 !important;
        width: 220px*1 !important;
    }  
 }

 @media only screen and (max-width: 846px) {
    .movie-container{
        height: 287px *1.2 !important;
        width: 220px*1.2 !important;
    }  
 }

 @media only screen and (max-width: 692px) {
    .movie-container{
        height: 287px *1 !important;
        width: 220px*1 !important;
    }  
 }

 @media only screen and (max-width: 604px) {
    .movie-container{
        height: 287px *0.8 !important;
        width: 220px*0.8 !important;
    }  

    .search-result-paragraph{
        font-size:1.5em !important;
        text-align:center !important;
        margin-left:0 !important;
    }
 }

 @media only screen and (max-width: 514px) {
    .movie-container{
        height: 287px *1 !important;
        width: 220px*1 !important;
    } 
    .movies-container{
        justify-content: center !important;
    } 
 }






