$primary-background-color: #121212;
$page-margin: 150px;

.search-result-paragraph{
    color:#FFA310;
    font-family: HelveticaNeue !important;
    margin-left:$page-margin;
    font-size:40px;
}

.movies-container{
    display: flex;
    flex-direction:row;
    //justify-content: space-between;
    //justify-content: space-around;
    flex-wrap:wrap;
    margin-left:130px;
    margin-right:130px;
    // margin-left:$page-margin;
    // margin-right:$page-margin;
    
    .movie-container{
        position: relative;
        background:gray;
        height:364px;
        min-width:279px;
        margin-top:20px;
        margin-bottom:20px;
        margin-left:20px;
        margin-right:20px;
        border:white;
        border-width:1px;
        border-style:solid;
        //
        overflow: hidden;
        .poster-heart-svg{
            width: 39px;
            height: 33px;
            position:absolute;
            top: 8px;
            right: 16px;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            cursor:pointer;
            
        }
        .poster-heart-svg:hover{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        .movie-name{
            //visibility: hidden;
            height:70px;
            width:100%;
            position:absolute;
            bottom:0px;
            color:white;
            text-align: center;
            background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
            vertical-align: middle;
            line-height: 70px;
            font-family: HelveticaNeue !important;
            font-size:0.9em;

            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .movie-name:hover{
            visibility: visible;
        }
    }

    .movie-container:hover .movie-name{
        color:#FFA310;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .movie-container:hover .poster-img{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

  .poster-img {
    
    
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .poster-img:hover{
   
    
  }

    //
}

.pagination-container{
    
}