<div class='home-page-wrapper'>
  <p *ngIf='searchSucces' class='search-result-paragraph'>Search result for "<span>{{searchedPhrase}}</span>"</p>
  <p *ngIf='!searchSucces' class='search-result-paragraph'>No result for"<span>{{searchedPhrase}}</span>" try different keywords.</p>

  <div class='movies-container'>
    <div *ngFor='let movie of movies; let i = index' class='movie-container item'>
      <img *ngIf='movie.posterUrl!=="N/A"' class= 'poster-img' src='{{movie.posterUrl}}'>
      <p class='no-poster-info-paragraph' *ngIf= 'movie.posterUrl==="N/A"'>Poster not available</p>
      <img (click)='addMovieToFavourite(movie)' *ngIf= '!movie.isFavourite'  class= 'poster-heart-svg' src= "./../assets/img/white_heart.svg">
      <img (click)='removeMovieFromFavourites(movie)' *ngIf='movie.isFavourite'  class= 'poster-heart-svg' src= "./../assets/img/gold_heart.svg">
      <div class='movie-name'>{{movie.title}}</div>
    </div>

    <div class='phantom-element'></div>
    <div class='phantom-element'></div>
    <div class='phantom-element'></div>
    <div class='phantom-element'></div>
  </div>

  <div class='paginator-wrapper'>
    <app-my-paginator
      [numberOfElements]= "numberOfElements"
      [pageReset]= "paginatorReset"
      (pageChange)= "paginationReload($event)"
    ></app-my-paginator>
  </div>
</div>



