.paginator-container{
    display:flex;
    align-items: flex-end;
    margin-top:15px;
    margin-bottom:15px;
    justify-content: center;
    color: #FFA310;

    .paginator-button{
        text-align: center;
        font-size:1.1em;
        display:flex;
        height:35px;
        margin-left:3px;
        margin-right:3px;
        background-color:#1F1F1F;
        color: #FFA310;
        border-color:#FFA310;
        border-style:solid;
        border-width:1px;
        border-radius: 3px;
        cursor:pointer;
        font-family: HelveticaNeue !important;

    }
    .paginator-button:hover{
        background-color:#FFA310;
        color: #1F1F1F;
        border-color:#1F1F1F;
    }
    .paginator-button:focus{
        outline:0;
    }

    .text-button{
        width:75px;
    }
    .number-button{
        min-width:35px;
    }

    .paginator-button-selected{
        background-color:#FFA310;
        color: #1F1F1F;
        border-color:#1F1F1F;
        
    }
    
   
    .suspension-points{
        font-size: 1.5em;
        height: 23px;
        cursor: default;
    }

}

.info-paragraph{
    text-align: center;
    color:#FFA310;
    font-family: HelveticaNeue !important;
}