<div class='page-wrapper'>
<div class='toolbar'>
  <img *ngIf='redirectCondition' class='heart-svg' [routerLink]="['/favourites']" src="./../assets/img/white_heart.svg">
  <img *ngIf='!redirectCondition' class='heart-svg' [routerLink]="['/']" src="./../assets/img/gold_heart.svg">
  <img class='logo-png' src="./../assets/img/logo.png">
  <input (keyup.enter)='runSearch()' [(ngModel)]='searchedPhrase' class='search-input' placeholder="Start typing">
  <button (click)='runSearch()' class='search-button'>
      <img class='search-icon' src="./../assets/img/search_icon.svg">
  </button>
</div>
<hr class='break-line'>

<router-outlet></router-outlet>
</div>
<img class='footer-img' src="./../assets/img/dexter_image_footer.png">
