
<div class='favourite-page-wrapper'>
    <p *ngIf='numberOfFavouriteMovies&& searchedPhrase===""' class='favourite-result-paragraph'>Favourite movies ({{numberOfFavouriteMovies}})</p>
    <p *ngIf='!numberOfFavouriteMovies&& searchedPhrase!==""' class='favourite-result-paragraph'>You don't have favourite movies for phrase <span>"{{searchedPhrase}}"</span>, try different keywords</p>
    <p *ngIf='!numberOfFavouriteMovies&& searchedPhrase===""' class='favourite-result-paragraph'>You don't have favourite movies</p>
    <p *ngIf='numberOfFavouriteMovies && searchedPhrase!==""' class='favourite-result-paragraph'>Favourite movies for phrase <span>"{{searchedPhrase}}"</span> ({{numberOfFavouriteMovies}})</p>
<div class='favourite-movies-container'>
    <div *ngFor='let favouriteMovie of favouriteMovies; let i = index'>
        <div class=favourite-movie>
            <img (click)='removeMovieFromFavourites(favouriteMovie._id)' class='heart-svg' src="./../assets/img/gold_heart.svg">
            <img *ngIf='favouriteMovie.posterUrl!=="N/A"' class='poster-img' src='{{favouriteMovie.posterUrl}}'>
            <div *ngIf='favouriteMovie.posterUrl==="N/A"' class='poster-img'>
                <span>N/A</span>
            </div>
            <div class='description-container'>
                <div class='top-description-container'>
                    <span class='title-span'>{{favouriteMovie.title}}</span>
                    <span class='year-span'>({{favouriteMovie.year}})</span>
                </div>
                <p>
                    <span class='type-label-span'>Type: </span> 
                    <span class='type-value-span'>{{favouriteMovie.type}}</span>
                </p>
            </div>
        </div>
        <hr class='break-line'>
    </div>
</div>
    <div class='paginator-wrapper'>
        <app-paginator
            [numberOfElements]='numberOfFavouriteMovies'
            [buttonsReset]='buttonsReset'
            [elementsOnPage]="10"
            (pageChange)='paginationReload($event)'
        ></app-paginator>
    </div>
</div>
