$page-margin: 150px;

.favourite-page-wrapper{
    min-height: calc( 100vh - 63px);
    display: flex;
    flex-direction: column;
    .favourite-result-paragraph{
        color:#FFA310;
        font-family: HelveticaNeue !important;
        margin-left:$page-margin;
        font-size:2em;
    }

    .favourite-movies-container{
        margin-left:$page-margin;
        margin-right:$page-margin;
        display:flex;
        flex-direction: column;
        font-family: HelveticaNeue !important;
        .favourite-movie{
            display: flex;
            align-items: center;
        }
        .favourite-movie > *{
            margin-right: 30px;
            
        }
        .heart-svg{
            width: 39px;
            height: 33px;
            cursor:pointer;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .heart-svg:hover{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1); 
        }
        .poster-img{
            height: 150px;
            width:102px;
        }
        .description-container{
            display:flex;
            justify-content: space-around;
            flex-direction: column;
            height: 150px;
        }
        .top-description-container{
            display:flex;
            color:white;
        }
        .type-label-span{
            color:#FFA310;
        }
        .type-value-span{
            color:white;
            text-transform: capitalize;
        }
        .title-span{
            font-size:1.5em;
        }
        .year-span{
            margin-left:25px;
            font-size:1.5em;
            color: #707070;
        }
    }
    .paginator-wrapper{
        margin-top: auto;
    }
}

@media only screen and (max-width: 1007px) {
   
    .favourite-movies-container{
        margin-left:60px !important;
        margin-right:60px !important;
    }
    .favourite-movie{
        height:110px !important;
    }
    .description-container{
        justify-content: center !important;
    }
    .favourite-movie > *{
        margin-right: 5px !important;
        
    }
    .poster-img{
        height: 100px!important;
        width: 75px!important;
    }

    .favourite-result-paragraph{

        margin-left:60px !important;

    }

    .title-span{
        font-size:1.1em !important;
    }
    .year-span{
        font-size:1.1em !important;
        margin-left:5px !important;
    }
    .type-label-span{
        font-size:1.1em !important;
    }
    .type-value-span{
        font-size:1.1em !important;
    }
 }

 @media only screen and (max-width: 640px) {
    .favourite-movies-container{
        margin-left:20px !important;
        margin-right:20px !important;
    }
    .title-span{
        font-size:1em !important;
    }
    .year-span{
        font-size:1em !important;
        margin-left:5px !important;
    }
    .type-label-span{
        font-size:1em !important;
    }
    .type-value-span{
        font-size:1em !important;
    }
 }

 @media only screen and (max-width: 604px) {
    .favourite-result-paragraph{
        font-size:1.5em !important;
        text-align:center !important;
        margin-left:0 !important;
    }
 }